<!DOCTYPE html>
<html>
  <head>
    <title>Scheduleapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>スケジュールアプリ</h1>
    </header>
    <%= yield %>
    <footer>
      <% time = Time.now
        jst = Time.at(time, in: "+09:00")
        year = jst.year
        month = jst.month
        day = jst.day
        hour = jst.hour
        min = jst.min %>
      <h1><%= year.to_s + "年" + month.to_s + "月" + day.to_s + "日" + hour.to_s + "時" + min.to_s + "分" %></h1>
    </footer>
  </body>
</html>
